@model UmsaSofttekFront.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@Html.HiddenFor(x => x.Token)

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.DisplayFor(x => x.Token))
</div>

<script src="~/js/Home/Home.js"></script>
```